@import url(chrome://global/skin/);

#siegfried-titlebar, #siegfried-titlebar-buttons {
  display: none;
}

#siegfried-tabbox, #siegfried-tabbox tabpanels, #siegfried-tabbox tabpanel {
  padding: 0;
  margin: 0;
}

#siegfried-tabbox {
  margin-top: 0.25em;
}

#siegfried-tabbox .updates {
  background: #fff;
  border-bottom: 1px inset;
  font-size: 80%;
}

  #siegfried-tabbox .updates .update {
    padding: 0.5em 0.25em;
    border-bottom: 1px dotted #eee;
  }

    #siegfried-tabbox .updates .update .updating {/* heh */
      padding: 1em;
      text-align: center;
    }

    #siegfried-tabbox .updates .update image {
      height: 50px;
      width: 50px;
    }

    #siegfried-tabbox .updates .update .username {
      font-size: 120%;
      font-weight: bold;
    }

    #siegfried-tabbox .updates .update .time {
      font-size: 80%;
      color: #999;
    }

    #siegfried-tabbox .updates .update .message {
    }

      #siegfried-tabbox .updates .update .message a {
        color: #339;
      }

        #siegfried-tabbox .updates .update .message a:hover,
        #siegfried-tabbox .updates .update .message a:focus {
          text-decoration: underline;
        }
      
      #siegfried-tabbox .updates .update .text-link {
        color: #f00;
        display: inline;
      }

#update-box {
  padding-top: 0.25em;
}

  #update-message {
  }

#statusbar {

}

  #statusbar spacer {
    width: 10px;
  }

debugger {
  -moz-binding: url("chrome://siegfried/content/debug.xbl#debugger");
}
